* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 767px;
    margin: 0 auto;
}



.whatis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
}


.content {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.content .mod {
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 35px !important;
    border-top-right-radius: 35px !important;
}